<div class="tarea" [class.dirty]="task!.dirty">
  <span *ngIf="!editMode">
    <span class="text">
      <span class="description">{{task!.text}}</span><br/>
      <span class="due">Fällig am {{formatDate(task!.due)}} und dann alle {{task!.lasts}} Tage.</span><br/>
    </span>
    <button type="button" (click)="onClickEdit()">Bearbeiten</button>
    <button type="button" (click)="onClickDelete()">Löschen</button>
    <button type="button" (click)="onClickDone()">Erledigt</button><br/>
  </span>
  <span class="editor" *ngIf="editMode">
    <label for="inputText">Aufgabe</label>
    <input id="inputText" class="tasktext" type="text" [value]="task!.text" (change)="onChangeText($event)"><br/>
    <label for="inputDue">Fälligkeit</label>
    <input id="inputDue" class="taskdate" type="date" value="{{formatDateIso(task!.due)}}" (change)="onChangeDue($event)"><br/>
    <label for="inputLasts">Intervall</label>
      <input
        id="inputLasts"
        class="tasklasts"
        type="number"
        [value]="task && task.lasts || 0"
        (change)="onChangeLasts($event)"
      >
      <label>&nbsp;Tage.</label>
    <br/>
    <button type="button" (click)="onClickSave()">Speichern</button>
    <button type="button" (click)="onClickReset()">Zurücksetzen</button>
    <button type="button" (click)="onClickCancel()">Abbrechen</button>
  </span>
</div>