div.tarea {
    max-width: 500px;
    border: 2px solid green;
    padding: 5px;
    margin-bottom: 5px;
}
div.tarea.dirty {
    background-color: azure;
}
span.description {
    font-weight: bold;
}
span.due {
    font-size: smaller;
}
.tarea button {
    margin-right: 5px;
    width: 155px;
}
div.tarea label {
    display: inline-block;
    width: 96px;
}
div.tarea input {
    margin-bottom: 5px;
}
