<div class="content" role="main">
  <div *ngIf="loadedAufgaben.length === 0" class="text">Nichts zu tun. Saubere Arbeit.<br/></div>
  <h3 *ngIf="loadedAufgaben.length > 0">Anstehende Aufgaben, dringendste zuerst.</h3>
  <div>
    <label for="allTasks">Alle Aufgaben anzeigen ({{loadedAufgaben.length}})</label>
    <input id="allTasks" type="checkbox" (change)="onChangeShowAllTasks()">
    <span class="filter" *ngIf="showAllTasks">Filter <input type="text" (input)="onChangeFilter($event)"></span>
    <br/>
    <span *ngIf="loadedAufgaben.length > 0">
     <app-tarea *ngFor="let task of findDueTasks() | async" [task]="task" (save)="onTaskSave($event)" (delete)="onTaskDelete($event)"></app-tarea>
    </span>
    <button type="button" (click)="onClickCreate()">Neue Aufgabe</button>
  </div>
  <!-- Aufgaben:<br/>{{JSON.stringify(loadedAufgaben)}} -->
</div>
