.content .text {
  display: inline-block;
  vertical-align: middle;
}
.content .editor .label {
  width: 4em;
  display: inline-block;
  vertical-align: middle;
}
.content .editor .tasktext {
  width: 30em;
  vertical-align: middle;
}
.content .editor .taskdate {
  width: 10em;
  vertical-align: middle;
}
.content .editor .tasklasts {
  width: 3em;
  vertical-align: middle;
}
.content span.filter {
  width: 6em;
}
.content span.filter input {
  width: inherit;
}
